// Vars
$font-family-font-awesome:      FontAwesome;
$fa-font-path:                  '/packages/xeridiem/bower_components/font-awesome/fonts';
$image-path:                    '/packages/xeridiem/images/';
$header-background-color:       #102542;
$header-font-color:             #fff;
$header-height:                 135px;
$theme-green:                   #419644;
$theme-blue:                    #005696;
$theme-dark-blue:               #07132b;
$theme-purple:                  #701471;
$theme-red:                     #ee3124;
// Bootstrap
$font-family-sans-serif:        'Titillium Web', sans-serif;
$font-family-base:              $font-family-sans-serif;
$font-size-base:                16px;
$link-color:                    $theme-blue;
$link-hover-color:              $link-color;
$border-radius-base:            0;
$border-radius-large:           0;
$border-radius-small:           0;
// buttons
$btn-font-weight:               bold;
$btn-default-color:             $theme-red;
$btn-default-bg:                #fff;
$btn-default-border:            $btn-default-bg;
$btn-success-bg:                $theme-green;
$btn-success-border:            $btn-success-bg;
$btn-primary-bg:                $theme-blue;
$btn-primary-border:            $btn-primary-bg;
$btn-danger-bg:                 $theme-red;
$btn-danger-border:             $btn-danger-bg;

// Imports
@import 'compass';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../bower_components/font-awesome/scss/variables';


@mixin flexboxize($direction: row) {
  @include flexbox((
    display: flexbox,
    flex-direction: $direction
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: $direction
  ));
}

@mixin flexboxize-align-items-center {
  @include flexbox((
    flex-align: center
  ), $version: 2);
  @include flexbox((
    align-items: center
  ));
}

@mixin flexboxize-align-self-center {
  @include flexbox((
    flex-item-align: center
  ), $version: 2);
  @include flexbox((
    align-self: center
  ));
}

//// Mixins
//@mixin scrollbars($color, $width:6px){
//  ::-webkit-scrollbar {width:$width;}
//  ::-webkit-scrollbar-button {display:none;visibility:hidden;}
//  ::-webkit-scrollbar-track {background:lighten($color,20%);//@include border-radius($width);
//    &:hover {background:lighten($color,25%);}
//  }
//  ::-webkit-scrollbar-thumb {background:$color;//@include border-radius($width);
//    &:hover {background:lighten($color,5%);}
//  }
//}
//
//@mixin scrollOverflow {
//  overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;
//}
//
//@mixin truncateText {
//  white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
//}
//
//@mixin unselectable {
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}