//@import '../../../../../css/src/required';
//@import '../../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid';

.flexry-masthead {height:380px;width:100%;position:relative;
  .node {width:100%;height:100%;position:absolute;top:0;left:0;color:#fff;background-size:cover;background-position:100% 100%;
    .inner-1 {margin:0 auto;text-align:left;//@extend .container;
      .inner-2 {max-width:40%;display:inline-block;}
      h2 {padding:2.6rem 0 2.6rem 3rem;background:transparent url('/packages/xeridiem/images/logos/symbol_white_opaque.png') no-repeat 0 50%;background-size:contain;text-transform:capitalize;}
      p {display:block;margin-left:3rem;padding:0.6rem;background:rgba(0,0,0,0.35);}
      a.link-to {display:inline-block;color:#fff;padding:0.5rem 1rem;font-weight:bold;border:1px solid #fff;margin-left:3rem;text-transform:uppercase;}
    }
  }
}