.flexry-masthead {height:350px;width:100%;position:relative;
  .node {width:100%;height:100%;position:absolute;top:0;left:0;color:#fff;background-size:cover;
    .container {text-align:left;
      h2 {padding:2rem 0 2rem 2.8rem;background:transparent url('/packages/xeridiem/images/logos/symbol_white_opaque.png') no-repeat 0 50%;background-size:contain;text-transform:capitalize;}
      p {display:inline-block;margin-left:2.8rem;padding:0.6rem;background:rgba(0,0,0,0.35);}
    }
  }
}