footer {background:$theme-dark-blue;color:#fff;
  .columns {padding-top:1rem;padding-bottom:2rem;
    [class*="flex-col"] {background:transparent;@include transition(background 0.25s ease);
      &:hover {background:rgba(255,255,255,0.08);}
    }
    .inner {padding:1rem;border-top:4px solid transparent;
      &.border-green {border-top-color:$theme-green;}
      &.border-blue {border-top-color:$theme-blue;}
      &.border-purple {border-top-color:$theme-purple;}
      &.border-red {border-top-color:$theme-red;}
      h5 {margin-top:0;text-transform:uppercase;font-weight:bold;}
      .social-link {color:#000;}
    }
  }
  .bottom {font-size:13px;background:#005696;padding:1rem 0;text-align:center;
    .quick-links {display:inline-block;
      .list-unstyled {margin:0;display:inline-block;
        li {display:inline-block;padding:0 3px;
          &:hover {border-bottom:1px solid #fff;}
        }
        a {color:#fff;}
      }
    }
  }

  .recent-news {display:block;color:#fff;
    span {display:block;padding-bottom:0.675rem;}
    small {color:$theme-red;text-transform:uppercase;font-weight:bold;}
  }
}

@media screen and (min-width:$screen-sm){
  footer {
    .bottom {text-align:inherit;
      .quick-links {display:block;text-align:right;}
    }
    p:last-of-type {margin-bottom:0;}
  }
}