header {color:$header-font-color;min-height:$header-height;position:relative;background-color:$header-background-color;

  .container {height:$header-height;}

  .menu-content {position:relative;}

  .links {text-align:right;position:relative;top:3rem;
    a {color:#fff;}
  }

  nav {position:absolute;right:0;bottom:0;
    a {color:#fff;}

    .primary {margin:0;font-size:0;line-height:0;
      > li {display:inline-block;font-size:1.5rem;line-height:1;text-transform:uppercase;position:relative;
        a {display:block;padding:1rem 2rem;border-bottom:4px solid #fff;}
        &:nth-of-type(1) a {border-bottom-color:$theme-green;}
        &:nth-of-type(2) a {border-bottom-color:$theme-blue;}
        &:nth-of-type(3) a {border-bottom-color:$theme-purple;}
        &:nth-of-type(4) a {border-bottom-color:$theme-red;}
      }
    }

    .sub {margin-top:-20px;visibility:hidden;opacity:0;line-height:1.4em;font-size:1rem;position:absolute;top:100%;left:50%;min-width:260px;background:$header-background-color;@include transition(all 0.18s ease);@include transform(translate3d(-50%, 0, 0));
      li {padding:0 1.6rem;
        &:hover {background:rgba(255,255,255,0.1);}
        a {border-bottom-width:2px;}
        &:last-child a {border-bottom:0;}
      }
    }

    .primary > li:hover .sub {margin-top:0;visibility:visible;opacity:1;}
  }
}