main {width:100%;color:black;
  // Parallax
  .parallax {color:#fff;padding:4rem 0;text-align:center;background-size:cover;background-position:50% 0%;
    a,.btn {font-weight:normal;}
    h1,h2,h3,h4,p {font-size:280%;}
  }

  // Inline lists
  .list-inline li {padding:0;}

  // Section Subheaders
  .section-subheader {padding:2rem 0;font-size:260%;text-align:center;
    p {margin:0;}
  }

  // Flexry grid default overrides
  //.flexryGrid .grid-item {height:180px;overflow:hidden;}
}