main {width:100%;color:black;
  .background-green {background:$theme-green;}
  .background-blue {background:$theme-blue;}
  .background-red {background:$theme-red;}

  // Grid updates
  .padless-grid {
    [class*="col-"]{padding:0;}
  }

  // Triple columns on the homepage
  #triple-columns [class*="col-"],
  #middle-section {padding-top:1rem;padding-bottom:1rem;}

  // Parallax
  .parallax {position:relative;height:300px;overflow:hidden;
    .backdrop {position:absolute;width:100%;height:160%;top:0;right:0;left:0;background:transparent no-repeat 50% 50%;background-size:cover;z-index:-1;}
    // CMS edit mode
    .ccm-area {height:100%;}
  }
  .parallax .backdrop {background-image:url('/packages/xeridiem/images/factory_bg.jpg');}
}