main {width:100%;color:black;
  .background-green {background:$theme-green;}
  .background-blue {background:$theme-blue;}
  .background-red {background:$theme-red;}

  // Triple columns on the homepage
  #triple-columns,
  #middle-section {//display:table;
    //[class*="col-"]{display:table-cell;height:100%;padding:0;vertical-align:middle;}
    [class*="col-"]{padding-top:2rem;padding-bottom:2rem;}
  }

  #triple-columns .inner {color:#fff;position:relative;right:-1rem;max-width:320px;margin:0 auto;padding:0 1rem;
    h2 {font-weight:bold;}
    .iconic {position:absolute;top:0;right:100%;max-width:50px;}
  }

  // Parallax
  .parallax {position:relative;height:300px;overflow:hidden;
    .backdrop {position:absolute;width:100%;height:160%;top:0;right:0;left:0;background:transparent no-repeat 50% 50%;background-size:cover;z-index:-1;}
    .inner {margin:0 auto;padding:1rem 2rem;position:relative;top:11px;
      p {color:#fff;margin:0;font-size:2.6rem;display:inline;line-height:1;}
      .btn {padding:1rem;position:relative;top:-7px;margin-left:$grid-gutter-width;}
    }
  }
  .parallax .backdrop {background-image:url('/packages/xeridiem/images/factory_bg.jpg');}
}